#quote-box {
  width: 55rem;
  background-color: #fff;
  padding-bottom: 3rem;

  #text::before {
    content: "“";
    display: block;
    font-size: 3.5rem;
    font-weight: bold;
  }
  #text {
    font-size: 3.5rem;
    padding-top: 2rem;
    margin: 0 1.5rem;
  }
  #text::after {
    content: " ”";
    font-size: 3.5rem;
    font-weight: bold;
  }

  #author::before {
    content: "- ";
  }

  #author {
    margin: 2em 1.5rem;
    font-size: 2em;
    font-weight: bold;
  }

  &-buttons {
    display: flex;
    justify-content: space-around;

    button {
      padding: 10px 25px;
      font-size: 2rem;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      color: #fff;
      outline: none;
    }

    &--twitter {
      background-color: #1da1f2;
    }

    &--next {
      background-color: #2d2a32;
    }
  }
}

.animate__animated.animate__zoomInUp {
  animation-duration: 0.6s;
}
@media only screen and (max-width: 600px) {
  #quote-box {
    width: 90%;
    margin: 0 auto;
    #text {
      font-size: 3rem;
    }
    #author {
      font-size: 1.25rem;
    }
    button {
      padding: 5px 15px;
      font-size: 1.5rem;
    }
  }
}
