#button_welcome {
  height: 35rem;
  width: 35rem;
  font-size: 5rem;
  text-transform: uppercase;
  background-color: #ddd92a;
  border: 3px solid transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 50px #eeefa8;
  cursor: pointer;
  transition: 2s ease-in-out;
  outline: none;
  -webkit-appearance: initial;
}

#button_welcome:focus {
  outline: none;
  -webkit-appearance: initial;
}
